body {
    border: 1px solid transparent;
    background:#7c7A7A;
    margin: 0px;
    position: relative;
}
header {
    display:grid;
    grid-template-columns: 30% 70%;
    height: 10vh;
    background: #172a3a;
    border-top: 1px solid;
    position: sticky;
    top: 0;
    z-index: 2;
}

main {
    background-color: #a0a0a0;
}

footer{
    position: relative;
    bottom: 0;
    bottom: 1px;
    flex-direction: row;
    height: auto;
    margin-bottom: 0px;
}

figure.content {
    margin-right: 0px;
    flex-shrink: 0.6;
    padding-right: 0;
    background:#172A3A transparent 0%;
}

br {
    height: 1.5em;
}

.portItem1 h2 {
    font-size: 2vw;
    text-align: center;
    background-color: #172A3A;
    margin-top: 0px;
    border-radius: 4px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #ebebeb;
}

.portItem2 h2 {
    font-size: 2vw;
    text-align: center;
    background-color: #172A3A;
    margin-top: 0px;
    border-radius: 4px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ebebeb;
}

h4 {
    font-size: 2vw;
    background: #172A3A;
    color: #EBEBEB;
    margin-top: 0em;
    margin-bottom: 0.5em;
    width: 100;
    align-content: center;
    text-align: center;
    border-bottom-right-radius: 20px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h6 {
    font-size: 1.3vw;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


summary {
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: 1.6vw;
    padding-right: 1em;
}

summary ul {
    font-size:1.3vw;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.content {
    padding: 10px;
    flex-shrink: 1;
    margin: auto;
    justify-self: center;
}

.portItem1 {
    align-self: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 1rem;
    flex-shrink: 1;
    width: 80%;
    background:rgba(84, 11, 14, 0.7);
    border-radius: 10px;
}
.portItem2 {
    align-self: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 1rem;
    flex-shrink: 1;
    width: 80%;
    background:rgba(84, 11, 14, 0.7);
    border-radius: 10px;
}

.nav {
    justify-content: flex-end;
    background: #172a3a;
    height: 10vh;
    border-bottom-right-radius: 10px;
    align-self: center;
}

.page {
    font-size: 20px;
    width: 6em;
    background: #2a4d14;
    color: #ebebeb;
    margin: 10px 15px;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
}

.externalLink {
    display: flex;
    flex-direction: row;
    background:rgba(84, 11, 14, 0.7);
    width: 22%;
    margin: 1em;
    border-radius: 15px;
    transition: 0.3s;
}
.externalLink p {
    margin-left: 1em;
    font-size: 1.1vw;
    color: #ebebeb;
}

.container a:hover {
    border-radius: 20px;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    cursor: pointer;
}

.profilePic {
    width: 100%;
    border-radius: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding-right: 0;
}

.portfolio {
    flex-direction: column;
}

.projPic {
    width: 100%;
    border-radius: 5px;
}

.portItem1 .projDescription {
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    padding: 1em;
    font-size: 1.3vw;
    background: ivory;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid black;
}

.portItem2 .projDescription {
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    padding: 1em;
    font-size: 1.3vw;
    background: ivory;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}

.blogFlex {
    flex-direction: column;
    z-index: 1;
}

.bPreview {
    margin: 2em auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.6vw;
    background: white;
    width: 65%;
    justify-self: center;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    border-left: 3px solid black;
}

.blogTitle {
    display: grid;
    grid-template-columns: 90% 10%;
    background: white;
}

.blogTitle button {
    background:#540B0E;
    padding:0;
    border-radius: 15px;
    color:#ebebeb;
    font-size: 1.4vw;
    height: auto;
    padding: 0;
    align-self: center;
    justify-self: center;
    width:40%;
    margin-bottom: 0.75em;
}

.blogEntry {
    overflow: hidden;
    height:0;
    transition: 0.3s;
}

.blogEntry p {
    font-size:1.25vw;
}

.inBlog {
    font-size:1.6vw;
    text-decoration: underline;
    background: rgba(160, 160, 160, 0.4);
    margin-bottom: 0.8em;
    width: 25em;
    text-align: left;
    padding: 0.2em;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 2em;
}

.blurb {
    margin: 3em;
    margin-top: 2em;
    margin-left: 2px;
    margin-bottom: 4em;
    font-size: 1.3vw;
    padding: 4em;
    padding-top: 0.5em;
    padding-bottom: 0px;
    background: ivory;
    align-self: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bPreview a {
    margin: 2em;
    align-self: right;
}

.open {
    height:auto;
}

.design {
    width: 70%;
    background: #ebebeb;
    align-self: center;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.2vw;
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
}

#check {
    display:none;
}

.IceCreamSandwich {
    cursor: pointer;
    display: none;
    z-index: 2;
  }

#blogContent {
    height: auto;
    overflow: hidden;
}

#title {
    font-size: 30px;
    align-self: center;
    justify-self: center;
    background: #7c7A7A;
    padding: 0.5em;
    width: 10em;
    margin: 0.5em;
    text-align: center;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#active{
    background: #540B0E;
    flex-grow: 1;
}

#gomezRef {
    width: 30%;
    display: inline;
}

#collapseNav {
    height: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 2;
    background:rgba(84, 11, 14, 0.7);
    backdrop-filter: blur(15px);
    padding:0;
    margin-top: 0;
    transition: 0.5s;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 2px solid black;
}
#collapseNav li {
    width:75%;
    margin: 12.5%;
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    justify-content: center;
}
#collapseNav li a.page {
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    width: 20em;
    margin-left:20%;
    border-radius: 20px;
    justify-self: center;
}

#quote {
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    background: #ebebeb;
    font-size: 1.5vw;
    padding: 0.5em;
    text-align: center;
    border-radius: 20px;
    border: 0.3em solid #540B0E;
    overflow: hidden;
}
#source {
    width: 50%;
    margin: auto;
    font-size:1.2vw;
    text-align: center;
    background: #2a4d14;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 0.1em solid #540B0E;
}

@media only screen and (max-width: 800px){
    header {
        grid-template-columns: 70% 30%;
    }
    #title {
        width: 90%;
        font-size: 5vw;
    }
    nav.container {
        flex-direction: column;
    }
    .IceCreamSandwich {
        display:block;
        font-size: 5vw;
        height: 100%;
        flex-grow: 2;
        margin-top: 28%;
        margin-left: 40%;
    }
    nav a.content {
        display: none;
    }
    main.container {
        flex-direction: column;
    }
    figure.content {
        padding: 0;
    }
    img.profilePic {
        width: 80%;
        margin: 8%;
        margin-bottom: 0;
        border-bottom: 0;
        align-self: bottom;
    }
    .blurb {
        margin-top: 0;
        padding-top: 0;
        width: 55%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .blurb h2 {
        font-size: 5vw;
    }
    .blurb p {
        font-size: 3.5vw;
    }

    #check:checked ~ ul#collapseNav{
        height: 14em;

    }
    footer.container {
        flex-direction: column;
    }
    .externalLink {
        width: 55%;
        margin: auto;
        margin-top: 1em;
    }
    .externalLink p {
        font-size: 3vw;
    }

    .portItem1 {
        grid-template-rows: 35% 65%;
        grid-template-columns: 100%;
        height: auto;
        padding: 0.4em;
    }
    .portItem2 {
        grid-template-rows: 65% 35%;
        grid-template-columns: 100%;
        height:auto;
        padding-bottom: 2.4em;
    }
    .projPic {
        width: 95%;
        margin: auto;
        margin-bottom: 0;
        justify-self: center;
        z-index: 1;
    }
    .projDescription {
        width: 85%;
        justify-self: center;
        padding-top: 2em;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        z-index: 0;
    }
    .projDescription h2 {
        font-size: 5vw;
        margin-top: 0.5em;
    }
    .projDescription p{
        font-size: 3.5vw;
        width: 80%;
        margin: auto;
    }

    .portItem2 .projPic {
        width: 95%;
        margin: auto;
        margin-top: 0;
        justify-self: center;
    }
    .portItem2 .projDescription {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .bPreview {
        width: 85%;

    }
    .blogTitle {
        height: 8em;
    }
    .blogTitle h4{
        font-size: 4vw;
        height: auto;
        text-align: center;
    }
    .blogEntry {
        height: 0;
        overflow: hidden;
        font-size: 5vw;
    }
    .blogEntry p {
        font-size: 3.5vw;
    }
    .blogEntry h5 {
        font-size: 4vw;
    }
    summary ul li {
        font-size: 3.5vw;
    }
    .open {
        height:auto;
        transition: 0.4;
    }
}