body {
    border: 1px solid transparent;
    background:rgb(173, 113, 1);
    margin: 0px;
    position: relative;
}
header {
    display:grid;
    grid-template-columns: 30% 70%;
    height: 10%;
    background: rgb(138, 137, 137);
    border-top: 1px solid;
}

main {
    height: 80vh;
}

footer{
    position:relative;
    bottom: 1px;
    flex-direction: row;
    height: 10%;
    margin-bottom: 0px;
}

figure.content {
    margin-right: 0px;
    flex-shrink: 0.5;
    padding-right: 0;
}

h4 {
    font-size: 23px;
    background: #172A3A;
    color: #EBEBEB;
    margin-top: 0em;
    margin-bottom: 0.5em;
    width: 30em;
    align-content: center;
    text-align: center;
    border-bottom-right-radius: 20px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

summary {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.content {
    padding: 10px;
    flex-shrink: 1;
}

.portItem1 {
    align-self: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 1rem;
    flex-shrink: 1;
    width: 80%;
    background:rgb(136, 100, 147);
    border-radius: 10px;
}
.portItem2 {
    align-self: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 1rem;
    flex-shrink: 1;
    width: 80%;
    background:rgb(136, 100, 147);
    border-radius: 10px;
}

.nav {
    justify-content: flex-end;
    background: rgb(136, 100, 147);
    height: 10vh;
    border-bottom-right-radius: 10px;
}

.page {
    font-size: 20px;
    width: 6em;
    background: rgb(173, 113, 1);
    margin: 10px 15px;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
}

.externalLink {
    background-color: aqua;
    width: 16em;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    margin: 10px;
}

.container a:hover {
    border-radius: 20px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
}

.profilePic {
    width: 100%;
    border-radius: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding-right: 0;
}

.portfolio {
    flex-direction: column;
}

.projPic {
    width: 100%;
    border-radius: 5px;
}

.portItem1 .projDescription {
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    padding: 1em;
    font-size: 20px;
    background: ivory;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid black;
}

.portItem2 .projDescription {
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    padding: 1em;
    font-size: 20px;
    background: ivory;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}

.bPreview {
    margin: 2em auto;
    font-size: 21px;
    background: white;
    width: 65%;
    justify-self: center;
    height: 10em;
    padding: 1em;
    padding-left: 0;
    padding-top: 0em;
    padding-bottom: 0.5em;
    border-radius: 20px;
    overflow: hidden;
}

.blurb {
    margin: 3em;
    margin-top: 2em;
    margin-left: 2px;
    margin-bottom: 4em;
    font-size: 24px;
    padding: 4em;
    padding-top: 0.5em;
    padding-bottom: 0px;
    background: ivory;
    align-self: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bPreview a {
    margin: 2em;
    align-self: right;
}

#title {
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

#active{
    background: darkcyan;
    flex-grow: 1.5;
}